* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}

html {
   font-size: 16px;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
   background: #283342 !important;
}

.form-control::placeholder {
   color: #b0b4ba;
   font-weight: 600;
}

.input {
   height: 55px;
}

.card-item {
   background: #ffffff;
   border-radius: 4px;
}

.line {
   border-bottom: 1px solid rgba(29, 36, 46, 0.3);
}

.form-control2 {
   border-radius: 4px;
   width: 90%;
}

.form-control2::placeholder {
   color: rgba(29, 36, 46, 0.5);
   font-weight: 400;
}

.input:focus {
   outline: none;
}
